<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>941243187373-ecg50fvkf1f5migp5p4o3hs8t2ircgte.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.941243187373-ecg50fvkf1f5migp5p4o3hs8t2ircgte</string>
	<key>API_KEY</key>
	<string>AIzaSyA1pQgDMdsGPCPv1CAByYHGJpVKOrwkPRo</string>
	<key>GCM_SENDER_ID</key>
	<string>941243187373</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.marinahuber.BellaBeatFirebase</string>
	<key>PROJECT_ID</key>
	<string>bellabeat-e59b7</string>
	<key>STORAGE_BUCKET</key>
	<string>bellabeat-e59b7.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false/>
	<key>IS_ANALYTICS_ENABLED</key>
	<false/>
	<key>IS_APPINVITE_ENABLED</key>
	<true/>
	<key>IS_GCM_ENABLED</key>
	<true/>
	<key>IS_SIGNIN_ENABLED</key>
	<true/>
	<key>GOOGLE_APP_ID</key>
	<string>1:941243187373:ios:22b0cb9352b7d9bb940624</string>
	<key>DATABASE_URL</key>
	<string>https://bellabeat-e59b7.firebaseio.com</string>
</dict>
</plist>
